<!DOCTYPE html>
<html lang="en">
<style>
.content {text-align: center;}
</style>
<head>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<!-- Navbar --------------->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
  
    
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small"></a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small"></a>
    
  </div>
</div>

<

<!-- Page content -------------------------------------------------->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <!-------------------------------------- The Band Section -------------------------------------------------------->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
   
    <p class="w3-opacity"><i>ESTIMATION OF PIE VALUE USING MONTE-CARLO METHOD</i></p>  
  </div>
<!-- Blue Section -->
  <div class="w3-green" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">CLOUD COMPUTING</h2>
      <p class="w3-opacity w3-center"><i>Please select the AWS service to be used</i></p><br>
   
<!--------------------------------------EC2 START MESSAGE--------------------------------------------->

            

<!----------------------------------------form---------------------------------------------------------->

<form name="service" id ="myForm" method="post" action="/form2">
   
    
    
    
    
       
   
    <input class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" name="lambda" type="submit" id="spotButton" value="Lambda"/>
    <input class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" name="ec2" type="submit" id="spotButton" value="EC2"/>
    
    
    
    
</form>


 
<p class="content">Sarath Asok Kumar &copy; 2021 University of Surrey</p>

<!---------------------
<!-- End Page Content -->
</div>




</body>
</html>
