<!DOCTYPE html>
<html lang="en">
<head>
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.content {text-align: center;}
</style>
</head>
<body>

<!-- Navbar --------------->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small"></a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small"></a>
     
  </div>
</div>

<

<!-- Page content -------------------------------------------------->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <!-------------------------------------- The Band Section -------------------------------------------------------->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
   
    <p class="w3-opacity"><i>CLOUD COMPUTING</i></p>  
  </div>
<!-- Green Section -->
  <div class="w3-green" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">ESTIMATION OF PIE VALUE</h2>
      <p class="w3-opacity w3-center"><i>Please give the inputs</i></p><br>
      
     
<!--------------------------------------EC2 START MESSAGE--------------------------------------------->

            

<!----------------------------------------form---------------------------------------------------------->
<div id="show" >
<form id ="
myForm" method="post" action="/form1">
    <p><label><i class="fa fa-shopping-car" for="fname"></i>Number of resources</label></p>
    <input class="w3-input w3-border" type="number" value=6 id="numres" name="key1"  min=1 oni for if elsenput="ageOutputId.value = numres.value"  required/>
    <output class="w3-input"  name="ageOutputName" id="ageOutputId"></output>
    
     <p><label><i class="fa fa-shopping-car" for="fname"></i>Number of shots</label></p>
    <input class="w3-input w3-border" type="number" value=10000 id="numshots" name="key2"   oninput="ageOutputId.value = numshots.value"  required/>
    <output class="w3-input"  name="ageOutputName" id="ageOutputId"></output>
    
    <p><label><i class="fa fa-shopping-car" for="fname"></i>Reporting rate</label></p>
    <input class="w3-input w3-border" type="number" value=1000 id="rrate" name="key3"   oninput="ageOutputId.value = rrate.value"  required/>
    <output class="w3-input"  name="ageOutputName" id="ageOutputId"></output>
    
    <p><label><i class="fa fa-shopping-car" for="fname"></i>Matching digits</label></p>
    <input class="w3-input w3-border" type="number" value=2 id="mdigits" name="key4"   oninput="ageOutputId.value = mdigits.value"  required/>
    <output class="w3-input"  name="ageOutputName" id="ageOutputId"></output>


    <input class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" type="submit" id="spotButton" value="Submit"/>


    <input class="w3-button w3-block w3-yellow w3-padding-16 w3-section w3-right"  type=submit value="History" formaction="/bucket">
     <input class="w3-button w3-block w3-red w3-padding-16 w3-section w3-right"  type=submit value="Terminate the instance (Only Applicable for EC2)" formaction="/terminate">
</form>
<!--<form id ="myForm1" method="post" action="/bucket" >
    <input class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" type="submit" id="spotButton" value="History"/>
</form>-->
</div>

<p class="content">Sarath Asok Kumar &copy; 2021 University of Surrey</p>

<!---------------------
<!-- End Page Content -->
</div>




</body>
</html>
